:root {
  --bg-light: #e4e4e5;
  --bg-dark: #3d3d3d;
  --fontLight: #ffffff;
  --displayFonts: 'Fira Code', monospace;
  --bodyFonts: 'Libre Franklin', sans-serif;
}

body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: var(--bg-dark);
  font-family: var(--displayFonts);
}

p {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul,
ul > li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  clip-path: url(#svgClip);
  width: 14em;
  height: 14em;
  object-fit: contain;
  object-position: top left;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

body.menu--is-open {
  overflow: hidden;
}

.main {
  padding: 1em 2em 0 2em;
}

.logo span {
  color: #acc969;
}

/* navigation styling */
.nav {
  position: relative;
  color: white;
  display: inline-block;
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  animation: slidein 3s;
}

nav > ul {
  padding: 0;
  margin: 0;
  position: relative;
}

nav > ul > li > a {
  &:hover {
    color: #acc969;
  }
}

.nav > a {
  color: white;
}

summary,
details {
  text-align: right;
  cursor: pointer;
}

summary:focus {
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

details {
  z-index: 100;
  height: 1.25em;
}

.overlay {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: transform 0.75s ease;

  @media (min-width: 770px) {
    transition: none;
  }
}

details:not([open]) {
  .overlay {
    transform: translateY(-1000px);
    opacity: 0;
  }
}

details[open] {
  .overlay {
    transform: translateY(0);
    opacity: 1;
  }
  summary:after {
    content: '×';
    cursor: pointer;
    font-size: 50pt;
    position: fixed;
    right: 0;
    top: 0;
    padding: 5pt 10pt;
    z-index: 9;
  }
}

nav {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1em;
  position: absolute;
  right: 0;

  @media (min-width: 770px) {
    width: auto;
  }

  ul > li {
    margin-top: 0.75em;
    @media (min-width: 770px) {
      margin-top: 0;
    }
  }
}

.stackedcups {
  width: 7em;
  position: absolute;
  display: block;
  bottom: 1em;
  right: 1em;
}

hr {
  height: 0.25rem;
  width: 20%;
  margin: 0;
  margin-left: 3%;
  background: #a27984;
  border: none;
  transition: 0.5s ease-in-out;

  @media (max-width: 770px) {
    display: none;
  }
}

.bio:hover {
  ~ hr {
    margin-left: 3%;
  }
}

.words:hover {
  ~ hr {
    margin-left: 40%;
  }
}

.voice:hover {
  ~ hr {
    margin-left: 80%;
  }
}

.words__active ~ hr {
  margin-left: 40%;
}

.content-body {
  color: var(--fontLight);
  font-size: 1.25em;
  font-family: var(--bodyFonts);
  line-height: 1.35em;
  margin-top: 3em;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.blob1 path {
  fill: #70695d;
}

.content .text {
  grid-area: 1 / 1 / 2 / 5;
  @media (min-width: 1400px) {
    grid-column-end: 4;
    grid-column-start: 2;
    grid-row: 1 / 3;
  }
}

.content .bottom-img {
  grid-area: 2 / 1 / 2 / 5;
}

article {
  padding: 1em;
  background-color: var(--bg-dark);
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

article:not(:first-child) {
  margin-top: 1.75em;
}

article > h3 {
  color: #e4e4e5;
}

article > span {
  display: block;
  margin-top: 0.25em;
  font-weight: 200;
  font-size: 0.75em;
}

article:hover {
  cursor: pointer;
  background-color: #70695d;
}

article > p {
  font-weight: 400;
  cursor: pointer;
}

article > button {
  display: none;
  float: right;
  cursor: pointer;
  padding: 0.5em;
}

@media (min-width: 770px) {
  hr {
    display: block;
  }
  .content-body {
    margin: 5em 7em 0 7em;
  }
  .menu > ul > li {
    display: inline-block;
    padding-left: 0.5em;
  }
  summary {
    display: none;
  }
}

@media (min-width: 1400px) {
  .content {
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  /* .content p {
    grid-column-end: 4;
    grid-column-start: 2;
    grid-row: 1 / 3;
  } */

  .content .bottom-img {
    grid-column-end: 5;
    grid-column-start: 3;
  }
}

/* svg styling */
#blob1 path {
  fill: #70695d;
  stroke: none;
}

.bottom-img {
  display: block;
  max-width: 500px;
  margin: auto;
}

.bottom-img svg {
  width: 100%;
}

.hide-svg {
  display: none;
}

#teacup {
  transform: translate(20px, 54px);
}

#teacup path,
circle,
rect,
polygon {
  stroke-width: 0.4;
  stroke: #3d3d3d;
  stroke-miterlimit: 10;
  fill: none;
}

#blob1 {
  transform: translate(65px, 0px);
}

#blob2 path {
  fill: #a27984;
  stroke: none;
}

#blob2 {
  transform: translate(0px, 50px);
}

#blob3 path {
  fill: #a8a7d1;
  stroke: none;
}

#blob3 {
  transform: translate(95px, 90px);
}
