<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      {% include "../navbar.njk" %}
      <div class="content-body">
        {% block content %}
          {{ content | safe }}
        {% endblock %}
      </div>
    </div>
    <div>
      {% include "../footer.njk" %}
    </div>
    {% set js %}
    {% include "../../js/critical.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  </body>
</html>